name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go 1.19
      uses: actions/setup-go@v4
      with:
        go-version: 1.19
      id: go

    - name: Run Tests
      run: |
        make install
        export PATH=$PATH:$HOME/go/bin
        env
        pwd
        ls -l $GOROOT/bin
        ls -l $HOME/go/bin
        go version
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
        sudo wget -qO- ${OC_BINARY_URL} | sudo tar -xvz -C /bin
        sudo pip install yq
        make test_e2e
      env:
        OC_BINARY_URL: http://mirror.openshift.com/pub/openshift-v4/clients/oc/4.3/linux/oc.tar.gz
        YQ_BINARY: https://github.com/mikefarah/yq/releases/download/2.4.1/yq_linux_amd64
