name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: |
          git fetch --prune --unshallow
      - name: Build binaries
        run: make release

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Generate Changelog
        run: |
          LATEST_TAG=$(git tag --sort=creatordate | sed '$!d')
          PREVIOUS_TAG=$(git tag --sort=creatordate | sed 'x;$!d')
          if [ -z "${PREVIOUS_TAG}" ]; then
            REV_RANGE=${LATEST_TAG}
          else
            REV_RANGE=${PREVIOUS_TAG}..${LATEST_TAG}
          fi
          git log --pretty=format:"- %h %s by %an" --no-merges ${REV_RANGE} > ${{ github.workflow }}-CHANGELOG.txt
          cat ${{ github.workflow }}-CHANGELOG.txt

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ steps.get_version.outputs.VERSION }}
          body_path: ${{ github.workflow }}-CHANGELOG.txt
          files: |
            bin/mac-amd64-template2helm.bz2
            bin/linux-amd64-template2helm.bz2
            bin/windows-amd64-template2helm.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
